<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section>

		<div class="card mr-3 ml-3">

			<div class="card-body">

				<h1 class="text-center">Your Contacts</h1>

			<!-- search -->
			<div class="search-container my-4">
			
			<input onkeyup="search()" type="text" th:value="${query}" placeholder="Search your contacts" id="search-input" class="form-control"/>
			
			<div class="search-result">
			
			
			</div>
			
			</div>

				<table class="table">
					<thead>
						<tr>
							<th scope="col">#Id</th>
							<th scope="col">Name</th>
							<th scope="col">Email</th>
							<th scope="col">Phone</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="c : ${contacts}">
							<th scope="row" th:text="${'SCM2020'+c.cid}">0</th>
							
							<td >
							
							<img src="" class="my-profile-picture" th:src="@{'/images/'+${c.image}}"  alt="profile photo"/>
							
							<span th:text="${c.name}">Nil</span>
							</td>
							
							<td >
							<a href="" th:href="@{'/user/'+${c.cid}+'/contact/'}">
							<span th:text="${c.email}"></span>
							</a>
							</td>
							<td th:text="${c.phone}">Nil</td>

							<td>

								<a  href="#" th:onclick="|deleteContact(${c.cid})|" class="btn btn-danger btn-sm">Delete</a>
								
								<form method="post" th:action="@{'/user/update-contact/'}+${c.cid}" class="mt-2">
								<button type="submit" class="btn btn-primary btn-sm">Update</button>
								</form>
							</td>

						</tr>


					</tbody>
				</table>

				<!-- pagination component -->
				<nav aria-label="Page navigation example">
				
					<ul class="pagination">
						<li class="page-item"  
						th:if="${currentPage != 0}"><a th:href="@{'/user/view-contacts/'+${currentPage-1}}" class="page-link" href="#">Previous</a></li>
						
						<li th:classappend="${currentPage==i-1?'active':''}" th:each="i : ${#numbers.sequence(1,totalPages)}" class="page-item"><a  th:href="@{'/user/view-contacts/'+${i-1}}" class="page-link" href="#"><span th:text="${i}"></span></a></li>
					
						
						<li  th:if="${currentPage+1 != totalPages}"  class="page-item"><a th:href="@{'/user/view-contacts/'+${currentPage+1}}" class="page-link" href="#">Next</a></li>
					</ul>
				</nav>

			</div>

		</div>

	</section>
</body>
</html>