<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>This is Home Page</title>
</head>
<body>
	<section
		class="banner d-flex justify-content-center align-items-center">
		<div class="text-center">
			<h1 class="font-weight-bold">Contact - Diary</h1>
			<p>Start Collecting your contact in very smart way. We provide
				very efficient and smarter way of handling contact.</p>

			<button class="btn bg-primary btn-lg text-white">Get Started</button>
		</div>


	</section>
</body>
</html>